registry=http://172.21.40.70:8081/repository/npm-all/
//172.21.40.70:8081/repository/npm-all/:username=admin
//172.21.40.70:8081/repository/npm-all/:_password=cmFtdQ==
//172.21.40.70:8081/repository/npm-all/:email=ramurebel880@gmail.com
//172.21.40.70:8081/repository/npm-all/:always-auth=true
